body.error {
    animation: FadeIn 0.75s ease-in-out forwards;
    background-color: #fff;
}

@keyframes FadeIn {
  from {
    background-color: red;
  }

  to {
    background-color: white;
  }
}

body {
    user-select:none;
}

#para-correct {
    color: #0f0;
}

#errors {
    color:#f00;
}