<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <title>Not a Game</title>
        <meta charset = "UTF-8" />
    </head>
    <body>
        <form action="/send-message" method="post">
                <p align="center">
                    <label>Text box</label>
                    <input type="text" name="mytext"/>
                    <input type="submit" value="Submit"/>
                </p>
        </form>
        <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
        <div class="message_holder"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='sockets.js') }}"></script>
    </body>
</html>
