<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <title>formDemo.html</title>
        <meta charset = "UTF-8" />
    </head>
    <body>
        <form action="/send-message" method="post">
                <p>
                    <label>Text box</label>
                    <input type="text" name="mytext"/>
                    <input type="submit" value="Submit"/>
                </p>
        </form>
        <h1>
            {% for message in messages: %}
            {{ message }}<br>
            {% endfor %}
        </h1>
    </body>
</html>
