<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paragraph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/paragraph_styling.css') }}">
</head>
<body>
    <p>
        <span id="para-correct"></span><span id="errors"></span><span id="paragraph">{{paragraph}}</span>
        <h3 id="userid" hidden>{{userid}}</h3>
        <span id="name">{{name}}</span>
        <h3></h3>
        <span id="score" class="score">0</span><span class="score">/5000</span>
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='paragraph_sockets.js') }}"></script>
</body>
</html>